body {
    background-color: #f0f2f5; /* Halka grey background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar ka design */
nav {
    background-color: #3116ad;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

nav a {
    color: #f8f8f8;
    text-decoration: none; /* Link ke niche underline hatana */
    margin: 0 15px;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #007bff; /* Mouse le jane par neela rang */
}

/* Form ka Dabba */
.content-section {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 20px auto; /* Center mein lane ke liye */
}

input {
    width: 100%; /* Pura box bharega */
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
}

/* Error message ka design (Laal Rang) */
.error-msg {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
    display: block;
}

/* Button */
.btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}